@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Homemade+Apple&family=Playwrite+AU+QLD:wght@100..400&display=swap');
@import "tailwindcss";

@theme {
  --font-curly: 'Homemade Apple', cursive;
  --font-curly2: 'Cookie', cursive;
  --font-curly3: 'Playwrite AU QLD', cursive;
}